html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

html, body{
    height: 100%;
    margin: 0;
}

.wrap {
    width: 100%;
    height: 100%;
    outline: solid 1px black;
    /* 설정 */
    position: relative;
    display: flex;
}

.input-img-area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 50%;
    background-color: skyblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.show-input-img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: green;
    /* 상하좌우 정중앙 정렬하기 */
    position: relative;
}

.show-first-img {
    width: 100%;
    height: 100%;
    background-color: yellow;
    position: relative;
}

.show-second-img{
    width: 100%;
    height: 100%;
    background-color: black;
    position: relative;
}

#preview1 {
    width: 100%;
    height: 100%;
    position: relative;
}

#preview2 {
    width: 100%;
    height: 100%;
    position: relative;
}

.set-input-img {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: blue;
    position: relative;
}

.first-img {
    width: 100%;
    height: 100%;
    background-color: orange;
    position: relative;
}

.second-img {
    width: 100%;
    height: 100%;
    background-color: purple;
    position: relative;
}

.btn-upload {
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: rgb(77, 77, 77);
        color: #fff;
    }
}

#image1 {
    display: none;
}

#image2 {
    display: none;
}

.display-area {
    position: absolute;
    margin: 0px auto;
    width: 500px;
    height: 375px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px #333 solid;
    display: none; /* 처음에는 숨겨진 상태로 */
}

#video {
    width: 500px;
    height: 375px;
    background-color: #666;
}
