<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static',filename='js/script.js') }}"> </script>
</head>
<body>
<div class="wrap">
    <div class="input-img-area">
        <div class="show-input-img">
            <div class="show-first-img">
                <img id="preview1" />
            </div>
            <div class="show-second-img">
                <img id="preview2" />
            </div>
        </div>
        <div class="set-input-img">
            <div class="first-img-bt">
                <form method="post" enctype="multipart/form-data">
                    <div class="button">
                        <label for="chooseFile">

                        </label>
                    </div>
                    <input type="file" id="chooseFile" name="chooseFile" accept="image/jpeg" onchange="previewImg1(this);">
                </form>
            </div>
            <div class="second-img-bt">
                <form method="post" enctype="multipart/form-data">
                    <div class="button">
                        <label for="chooseFile">

                        </label>
                    </div>
                    <input type="file" id="chooseFile" name="chooseFile" accept="image/jpeg" onchange="previewImg2(this);">
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>